@import '../../../sass/variables.scss';

#login-form{
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);

    label{
        width: 100%;
    }

    .form-control{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $color;
        background: transparent;
    }

    .input-group-prepend{
        border-bottom: solid $color 1px;
        color: $color;
    }
}

#calendar-img{
    width: 600px;
    height: 600px;
    margin-top: -200px;
    margin-left: 200px;
    z-index: 0;
}